.sidebar {
  min-width: 200px;
  border-radius: 5px;
  border: 1px solid rgb(155, 155, 155);
  height: 80vh;
}
.item {
  list-style-type: none;
  padding: 10px 5px;
  border-bottom: 1px solid gray;
}
